.topbar_box {
  padding: 0px 6px;
  background-color: $base00;
}

// Volume and battery bar progress
.scale trough {
    min-height: 6px; 
    min-width: 50px; 
    background-color: $base01;
    padding: 0px;
}

.scale trough highlight {
    background-color: $base04;
}

.urgent_scale trough highlight {
   background-color: $baseA0;
}

//wrapper around the progress bar
.scale_wrapper_box {
    padding: 6px;
    background-color: $base01;
}

// Volume and battery bars (whole thing's box)
.meter {
    margin: 6px 0px;
}

.icons {
    background-color: $base01;
    min-width: 18px;
}

@import "./topbar/time.scss";
@import "./topbar/volume.scss";
@import "./topbar/battery.scss";
@import "./topbar/workspaces.scss";
