*{
    all: unset;
}

@define-color color #ebe0bb;
@define-color background-color #242015;
@define-color background-color-alt #3a3124;
@define-color accent #db930d;
@define-color urgent #a82d56;
@define-color muted #856a5d;

#waybar {
    color: @color;
    background-color: @background-color;
    font-family: "GoMono Nerd Font";
    font-size: 15px;
    border: 6px solid @background-color-alt;
}

#custom-spr {
    font-size: 16px;
    margin: 12px 25px;
    color: @muted;
}

#mpris {
    margin: 0px 30px;
}

#clock {
    margin-right: 30px;
}

/*workspaces/tags*/
#workspaces, #tags {
    margin-left: 28px;
}

#workspaces button, #tags button {
    padding: 1px 2px;
    border-radius: 0px;
    margin: 0px 0px;
    font-size: 18px;
    margin-left: 2px;
}

/* Hyprland */
/*All are persistent*/
#workspaces button.persistent {
    color: @color;
}

/*Some are empty*/
#workspaces button.empty {
    color: @muted;
}

/*One is focused*/
#workspaces button.active {
    color: @accent;
}

/* River */
/*default colour*/
#tags button {
    color: @muted;
}

/*some are occupied*/
#tags button.occupied {
    color: @color;
}

/*some are focused*/
#tags button.focused {
    color: @accent;
}

/*some are urgent*/
#tags button.urgent {
    color: @urgent;
}
