$background: #191724;
$background-alt: #2a273f;
$background-alt2: #26233a;
$foreground: #e0def4;
$love: #F7768E;
$foam: #9ccfd8;
$pine: #31748f;
$gold: #f6c177;
$iris: #c4a7e7;
$rose: #ebbcba;

* {
    all: unset;
	font-family: "ComicShannsMono Nerd Font";
	border-color: $foam;
	border-width: 0.2px;
}




.systray{
	background-color: $background;
	padding: 1rem 2rem 1rem 2rem;
}

.iconvol, .icondisk, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconvol {
	color: $love;
}
.icondisk {
	color: $iris;
}
.iconbright {
	color: $gold;
}
.iconbat {
	color: $pine;
}

.vol_bar, .disk_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: $background-alt;
	border-radius: 16px;
	min-height: 24px;
	min-width: 160px;
}

.vol_bar, .disk_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.vol_bar scale trough highlight {
	background-color: $love;
}
.disk_bar scale trough highlight {
	background-color: $iris;
}
.bright_bar scale trough highlight {
	background-color: $gold;
}
.bat_bar scale trough highlight {
	background-color: $pine;
}

.music{
	background-color: $background;
	padding: 1.5rem;
	border-style: none none none none;
}
.song{
	color: $iris;
	font-style: italic;
	font-size: 1.4em;
}
.artist{
	color: $foreground;
	font-size: 1.2em;
}

.uptime{
	background-color: $background;
	padding: 1.5rem;
	border-style: none none solid none;
}
.uptime-label{
	color: $pine;
	font-style: italic;
	font-size: 1.4em;
}
.uptime-text{
	font-size: 1.2em;
}

.powermenu {
	background-color: $background;
	padding: 1.5rem;
	font-family: "Feather Bold";
	font-size: 32px;
	border-style: none none solid none;
	button:hover {
		color: $foam;
		font-size: 40px;
	}
}

.profile{
	background-color: $background;
	padding: 2.5rem;
	padding-top: 3.5rem;
	border-style: none solid none solid;
}
.pfp {
	background-image: url("assets/profile.png");
	background-repeat: no-repeat;
	background-size: 15rem;
	background-position: center;
	min-height: 200px;
	min-width: 200px;
	border-radius: 50%;
}
.name {
	margin-top: 30px;
	color: $rose;
	font-weight: bold;
	font-size: 1.4em;
}
.subpfptxt {
	color: $foam;
	margin-top: 10px;
	font-size: 1.2em;
}


.quote{
	background-color: $background;
	padding: 1rem 1.5rem 2.5rem 1.5rem;
	border-style: none solid none none;
}
.quote-text{
	padding: 2.4rem .5rem 1rem .5rem;
	font-size: 1em;
	color: $foreground;
}
.quote-author{
	font-style: italic;
	font-size: 1.2em;
	color: $rose;
	margin-top: 1.7rem;
}



