.topbar_box {
  padding: 6px 0px;
  border: 3px solid $base01;
  border-left: none;
  background-color: $base00;
}

$commonMargin: 6px;

//aqi
.module_text {
    padding: 10px 2px;
    background-color: $base01;
    font-weight: 600;
}

//clock + resize mode
.text {
    margin: 0px $commonMargin;
    padding: 3px;
    background-color: $base01;
    font-weight: 600;
}

// Volume and battery bar progress
.scale trough {
    min-width: 7px; 
    min-height: 40px; 
    background-color: $base01;
    padding: 0px;
}

.scale trough highlight {
    background-color: $base04;
}

.urgent_scale trough highlight {
   background-color: $baseA0;
}

//wrapper AROUND the progress bar
.scale_wrapper_box {
    padding: 6px;
    background-color: $base01;
}

// Volume and battery bars (whole thing's box)
.meter {
    margin: 0px $commonMargin;
}

.icons {
    background-color: $base01;
    font-family: "Symbols Nerd Font";
    min-height: 18px;
    min-width: 18px;
    font-size: 9px;
}

@import "./topbar/volume.scss";
@import "./topbar/battery.scss";
@import "./topbar/pointer.scss";
@import "./topbar/workspaces.scss";
