.album {
    padding: 0px 10px;
    background-size: cover;
    background-position: center;
    min-height: 28px;
    min-width: 200px; 
}

.overlay_layer {
    background: $base01;
    opacity: 0.85;
}
