.workspacesWidget {
    margin: 7px 0px;
    transition: 0.15s;
    background-color: $base00;

    .workspacesBox {
        transition: 0.15s;
        margin: 8px 3px;
    }
    
    .activeWorkspace {
        padding: 0 20px;
        background-color: $baseA0;
    }

    .inactiveWorkspace {
        padding: 0 15px;
        background-color: $base03;
    }

    .emptyWorkspace {
        padding: 0 10px;
        background-color: $base01;
    }
}
